.contact-wrapper {
  padding: 0;
  border: 1.5rem solid $secondary;
  min-height: 100vh;
  background-image: url('../img/pattern.png');

  @media (max-width: 767px) {
    border: none;
  }
}

.contact {
  position: relative;
  z-index: 10;

  display: flex;
  min-height: calc(100vh - 3rem);

  flex-direction: column;
  justify-content: space-between;
}

.header {
  padding-top: 3.9rem;
  @media (max-width: 767px) {
    align-items: center;
  }
}

.contact__logo {
  height: 5rem;
  width: auto;

  @media (max-width: 767px) {
    margin: 0 auto;
  }
}

.hamburger {
  display: flex;
  margin-right: 1.5rem;
  width: 24px;
  height: 24px;

  flex-wrap: wrap;
  flex-direction: column;

  cursor: pointer;
  border-bottom: 3px solid $base;

  &::before {
    width: 100%;
    display: block;
    margin-top: 12px;
    content: "";
    border-bottom: 3px solid $base;
  }

  &::after {
    width: 100%;
    display: block;
    margin-top: -12px;
    content: "";
    border-bottom: 3px solid $base;
  }

  &:hover,
  &:hover:before,
  &:hover:after {
    border-color: $primary;
  }
}

.nav {
  justify-content: flex-end;
}

.nav-item {
  color: $base;
  margin-left: 4.2rem;

  &:hover,
  &:active {
    color: $primary;
  }

  &:visited {
    color: $base;
  }
}

.contact__headline {
  font-family: "Playfair Display";
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: 0.2rem;

  @media (max-width: 767px) {
    text-align: center;
    font-size: 3.6rem !important;
  }
}

.footer {
  padding-bottom: 4.2rem;
  flex-wrap: wrap;
}

.contact__links {
  @media (max-width: 767px) {
    flex-basis: 100%;
    text-align: center;
  }
}

.contact__link-item {
  &:hover,
  &:active {
    color: $primary;
  }

  &:visited {
    color: $base;
  }
}

.contact__link-separator {
  margin: 0 1.2rem;
}

.contact .contact__copyright {
  color: $base;
  text-align: right;

  @media (max-width: 767px) {
    flex-basis: 100%;
    text-align: center;
    margin-top: 5.3rem;
  }
}