.work-wrapper {
  padding: 0;
  border: 1.5rem solid $secondary;
  min-height: 100vh;
  background-image: url('../img/pattern.png');

  @media (max-width: 767px) {
    border: none;
  }
}

.work {
  position: relative;
  z-index: 10;

  display: flex;
  min-height: calc(100vh - 3rem);

  flex-direction: column;
  justify-content: space-between;
}

.header {
  padding-top: 3.9rem;
  @media (max-width: 767px) {
    align-items: center;
  }
}

.work__logo {
  height: 5rem;
  width: auto;

  @media (max-width: 767px) {
    margin: 0 auto;
  }
}

.nav {
  justify-content: flex-end;
}

.nav-item {
  color: $base;
  margin-left: 4.2rem;

  &:hover,
  &:active {
    color: $primary;
  }

  &:visited {
    color: $base;
  }
}

.work__headline {
  max-width: 43rem;

  font-family: "Playfair Display";
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: 0.2rem;

  @media (max-width: 767px) {
    max-width: auto;
    font-size: 3.6rem !important;
  }
}

.work__subtitle {
  margin-bottom: 10rem;
  max-width: 43rem;

  font-family: Sanchez, Helvetica, sans-serif;
  font-size: 2rem;
  line-height: 3rem;

  @media (max-width: 767px) {
    max-width: auto;
    margin-bottom: 4.2rem;
  }
}

.work__project {
  margin-bottom: 3rem;
  width: 100%;
  height: auto;

  cursor: pointer;
  transition: 0.3s all;
  filter: saturate(0);

  &:hover {
    transition: 0.3s all;
    filter: saturate(1);
    transform: scale(0.95);
  }
}

.footer {
  padding-bottom: 4.2rem;
  flex-wrap: wrap;
}

.work__links {
  @media (max-width: 767px) {
    flex-basis: 100%;
    text-align: center;
  }
}

.work__link-item {
  &:hover,
  &:active {
    color: $primary;
  }

  &:visited {
    color: $base;
  }
}

.work__link-separator {
  margin: 0 1.2rem;
}

.work .work__copyright {
  color: $base;
  text-align: right;

  @media (max-width: 767px) {
    flex-basis: 100%;
    text-align: center;
    margin-top: 5.3rem;
  }
}